.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
img {
  display: block;
}
.button {
  cursor: pointer;
}
.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 2%;
  color: #2196f3;
}
.menu {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 2%;
  color: #212121;
}
.menu a {
  color: #212121;
}
.menu a:hover,
.menu a:focus {
  color: #2196f3;
}
.contact a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 2%;
  color: #212121;
}
.contact a:hover,
.menu a:focus {
  color: #2196f3;
}
.open-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 2%;
  cursor: pointer;

  color: #ffffff;
}
.open-btn :hover,
.open-btn :focus {
  background-color: #2196f3;
}
.border {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.86;
  letter-spacing: 6%;

  color: #ffffff;
}

.border {
  background-color: #2f303a;
  color: #ffffff;
}
.hero h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 3%;

  color: #212121;
}
.hero p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 3%;

  color: #212121;
}
.pic h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.86;
  letter-spacing: 3%;

  color: #212121;
}
.tim p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 3%;

  color: #212121;
}
.tim h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.86;
  letter-spacing: 3%;

  color: #212121;
}
.tim {
  background-color: #f5f4fa;
}
.main-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 2%;
  color: #212121;
}
.main-footer a {
  color: #ffffff;
}

.main-footer {
  background-color: #2f303a;
}
.btn-main {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 2%;

  color: #ffffff;
}
.btn-main {
  cursor: pointer;
}

.btn-main :hover,
.btn-main :focus {
  background-color: #2196f3;
}
.btn-main a {
  color: #ffffff;
}
.opacity {
  opacity: 60%;
}
.phononic {
  background-color: #f5f5f5;
}
.caption {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.86;
  letter-spacing: 6%;
  color: #212121;
}
.heading {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 3%;
  color: #757575;
}
