:root {
  --blue: #2196f3;
  --dark: #212121;
  --gray: #757575;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
img {
  display: block;
}
.button {
  cursor: pointer;
}
.body {
  font-family: "Roboto", sans-serif;
}
.logo {
  font-family: "Raleway", Roboto;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: var(--blue);
}
.logo-header {
  color: var(--dark);
}
.menu {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu a {
  color: var(--dark);
}
.menu a:hover,
.menu a:focus {
  color: var(--blue);
}
.contact a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--gray);
}
.contact a:hover,
.menu a:focus {
  color: var(--blue);
}
.open-btn {
  font-family: "Roboto", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;

  color: var(--dark);
}
.open-btn:hover,
.open-btn:focus {
  background-color: var(--blue);
  color: #ffffff;
}
.open-btn {
  background-color: #f5f4fa;
}
.btn {
  font-family: "Roboto", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
  background-color: var(--blue);
  color: #ffffff;
}
.btn:hover,
.btn:focus {
  background-color: #188ce1;
  color: #ffffff;
}

.border h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.border {
  background-color: #2f303a;
}
.hero h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.03em;

  color: var(--dark);
}
.hero p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.03em;

  color: var(--gray);
}
.pic h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.86;
  letter-spacing: 0.03em;

  color: var(--dark);
}
.tim p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;

  color: var(--gray);
}
.tim h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;

  color: var(--dark);
}
.tim h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.86;
  letter-spacing: 0.03em;

  color: var(--dark);
}
.tim {
  background-color: #f5f4fa;
}

.main-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.main-footer a {
  color: #ffffff;
}

.main-footer {
  background-color: #2f303a;
}
.btn-main {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.03em;
}
.btn-main a {
  color: #ffffff;
}
.opacity {
  opacity: 60%;
}
.caption {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  color: var(--dark);
}
.heading {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: var(--gray);
}
.adr {
  font-style: normal;
}
